@import url('bootstrap/dist/css/bootstrap.min.css');

body {
    background-color: #f5f7fb;
    color: #293264;
}

.btn_custom {
    background-color: #4d5b9e;
    cursor: pointer;
}

.answer_selected {
    background-color: #d6dbf5;
}

.wrong_answer {
    background-color: #f7d9db;
}

.correct_answer {
    background-color: #94d7a2;
}

#start_page {
    height: calc(100vh - 6rem);
    background-color: #f5f7fb;
}

#questions {
    margin: auto;
    max-width: 800px;
    min-width: 400px;


    .btn_answer {
        border: 2px solid #4d5b9e;
        cursor: pointer;
    }

    hr {
        font-size: 5px;
    }
}